faiss-cpu
pandas
numpy
scikit-learn
openai
tqdm
pdfplumber
python-dotenv
torch 
langchain>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
langchain-huggingface>=0.0.1
transformers==4.38.0
sentence-transformers==2.6.0
tokenizers==0.15.2
numpy<2.0.0